strict-peer-dependencies=false
auto-install-peers=false
shell-emulator=true
resolution-mode=highest # set to `lowest-direct` by default since pnpm v8

hoist-pattern[]=@quasar/extras # phantom dep used in quasar (ui)
hoist-pattern[]=espree # phantom dep used in eslint-plugin-lodash-template
hoist-pattern[]=source-map # phantom dep used in @quasar/ssr-helpers
hoist-pattern[]=vue # phantom dep used in quasar (ui)

public-hoist-pattern[]=@babel/core # undeclared peerdep of @babel/eslint-parser (used in webpack playground eslint config)
public-hoist-pattern[]=@quasar/babel-preset-app # phantom dep used in webpack playground (babel.config.cjs)
public-hoist-pattern[]=autoprefixer # phantom dep used in webpack playground (babel.config.cjs)
public-hoist-pattern[]=babel-loader # phantom dep used in @quasar/app-webpack (@quasar/babel-preset-app)
public-hoist-pattern[]=*eslint* # default pnpm config
# public-hoist-pattern[]=*-loader # if some webpack loaders are not resolved properly (via require.resolve)
public-hoist-pattern[]=postcss-rtlcss # phantom dep optionally used in vite playground
public-hoist-pattern[]=*prettier* # default pnpm config
public-hoist-pattern[]=register-service-worker # phantom dep used in playground (client entry with pwa enabled)
